In [1]:
%matplotlib notebook
import pandas as pd
import numpy as np
from scipy import stats
import os
from ReadData import ReadFile
from OneYearData import OneYearData

In [3]:
Data2017 = OneYearData(year=2017,addvar='ADD2N',autismvar='AUTISMN',povertyvar='RAT_CAT4',foodsecurity='Y')
Data2017.head()

ADHD/ADD variable to check: ADD2N
Autism variable to check: AUTISMN
Poverty variable to check: RAT_CAT4
Reading in file familyxx for year 2017
Results:  Dataframe created with 33157 rows and 734 columms.
Reading in file samadult for year 2017
Results:  Dataframe created with 26742 rows and 2940 columms.
Reading in file samchild for year 2017
Results:  Dataframe created with 8845 rows and 988 columms.
Results:  adult/child Year 2017 Dataframe created with 6981 rows and 7 columms.
Results:  final Year 2017 Dataframe created with 6981 rows and 14 columms.
Dataframe output to ..\output_data\year_2017.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2017,11,1,4,4,1,1,4070,0,1,0,0,0,0
1,2017,18,1,5,4,1,0,2853,0,1,0,0,0,0
2,2017,19,1,3,4,1,0,3454,0,0,0,0,0,1
3,2017,26,1,2,3,1,0,4633,0,0,1,0,0,0
4,2017,47,1,5,4,1,0,3862,1,0,0,0,0,0

In [4]:
Data2016 = OneYearData(2016,addvar='ADD2N',autismvar='AUTISMN',povertyvar='RAT_CAT4',foodsecurity='Y')
Data2016.head()

ADHD/ADD variable to check: ADD2N
Autism variable to check: AUTISMN
Poverty variable to check: RAT_CAT4
Reading in file familyxx for year 2016
Results:  Dataframe created with 40875 rows and 734 columms.
Reading in file samadult for year 2016
Results:  Dataframe created with 33028 rows and 3338 columms.
Reading in file samchild for year 2016
Results:  Dataframe created with 11107 rows and 1084 columms.
Results:  adult/child Year 2016 Dataframe created with 8820 rows and 7 columms.
Results:  final Year 2016 Dataframe created with 8820 rows and 14 columms.
Dataframe output to ..\output_data\year_2016.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2016,5,1,3,3,1,0,3337,0,1,1,0,0,1
1,2016,10,1,8,4,1,0,2318,0,0,0,0,0,0
2,2016,37,1,5,4,1,0,9545,0,0,0,0,0,0
3,2016,44,1,4,4,1,0,2155,0,0,0,0,0,0
4,2016,46,1,4,4,1,0,3306,0,0,0,0,0,0

In [5]:
Data2015 = OneYearData(2015,addvar='ADD2',autismvar='AUTISM',povertyvar='RAT_CAT4',foodsecurity='Y')
Data2015.head()

ADHD/ADD variable to check: ADD2
Autism variable to check: AUTISM
Poverty variable to check: RAT_CAT4
Reading in file familyxx for year 2015
Results:  Dataframe created with 42288 rows and 735 columms.
Reading in file samadult for year 2015
Results:  Dataframe created with 33672 rows and 2804 columms.
Reading in file samchild for year 2015
Results:  Dataframe created with 12291 rows and 875 columms.
Results:  adult/child Year 2015 Dataframe created with 9950 rows and 7 columms.
Results:  final Year 2015 Dataframe created with 9950 rows and 14 columms.
Dataframe output to ..\output_data\year_2015.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2015,28,1,4,4,1,0,677,0,0,0,0,0,1
1,2015,31,1,3,3,1,1,1471,0,1,0,0,0,0
2,2015,39,1,4,4,1,0,132,0,0,0,0,0,0
3,2015,49,1,5,4,1,0,4842,0,0,0,0,0,0
4,2015,58,1,4,4,1,0,3165,0,1,0,0,0,1

In [6]:
Data2014 = OneYearData(2014,addvar='ADD2',autismvar='AUTISM',povertyvar='RAT_CAT4',foodsecurity='Y')
Data2014.head()

ADHD/ADD variable to check: ADD2
Autism variable to check: AUTISM
Poverty variable to check: RAT_CAT4
Reading in file familyxx for year 2014
Results:  Dataframe created with 45597 rows and 734 columms.
Reading in file samadult for year 2014
Results:  Dataframe created with 36697 rows and 3213 columms.
Reading in file samchild for year 2014
Results:  Dataframe created with 13380 rows and 1245 columms.
Results:  adult/child Year 2014 Dataframe created with 10936 rows and 7 columms.
Results:  final Year 2014 Dataframe created with 10936 rows and 14 columms.
Dataframe output to ..\output_data\year_2014.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2014,20,1,4,4,1,0,1063,0,0,0,0,0,0
1,2014,25,1,4,4,1,0,4604,0,0,0,0,0,0
2,2014,29,1,5,4,1,0,227,0,0,0,0,0,0
3,2014,34,1,3,3,1,1,2817,0,1,0,0,0,0
4,2014,43,1,4,4,1,1,3863,0,0,1,1,0,1

In [8]:
Data2013 = OneYearData(2013,addvar='ADD2',autismvar='CCONDL6R',povertyvar='RAT_CAT2',foodsecurity='Y')
Data2013.head()

ADHD/ADD variable to check: ADD2
Autism variable to check: CCONDL6R
Poverty variable to check: RAT_CAT2
Reading in file familyxx for year 2013
Results:  Dataframe created with 42321 rows and 780 columms.
Reading in file samadult for year 2013
Results:  Dataframe created with 34557 rows and 3074 columms.
Reading in file samchild for year 2013
Results:  Dataframe created with 12860 rows and 1530 columms.
Results:  adult/child Year 2013 Dataframe created with 10548 rows and 7 columms.
Results:  final Year 2013 Dataframe created with 10548 rows and 14 columms.
Dataframe output to ..\output_data\year_2013.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2013,1,1,5,4,1,0,3950,0,0,0,0,0,0
1,2013,10,1,4,4,1,0,5245,0,0,0,1,0,0
2,2013,17,1,3,4,1,0,1649,0,0,1,0,0,1
3,2013,23,1,2,3,1,0,5076,0,0,0,0,0,0
4,2013,27,1,4,4,1,0,5581,1,1,0,0,0,0

In [9]:
Data2012 = OneYearData(2012,addvar='ADD2',autismvar='CCONDL6R',povertyvar='RAT_CAT2',foodsecurity='Y')
Data2012.head()

ADHD/ADD variable to check: ADD2
Autism variable to check: CCONDL6R
Poverty variable to check: RAT_CAT2
Reading in file familyxx for year 2012
Results:  Dataframe created with 43345 rows and 780 columms.
Reading in file samadult for year 2012
Results:  Dataframe created with 34525 rows and 3102 columms.
Reading in file samchild for year 2012
Results:  Dataframe created with 13275 rows and 1892 columms.
Results:  adult/child Year 2012 Dataframe created with 10519 rows and 7 columms.
Results:  final Year 2012 Dataframe created with 10519 rows and 14 columms.
Dataframe output to ..\output_data\year_2012.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2012,13,1,4,4,1,0,3932,0,0,0,0,0,0
1,2012,20,1,3,4,1,0,4889,0,0,0,0,0,0
2,2012,56,1,3,3,1,1,2524,1,0,0,0,0,0
3,2012,67,1,3,3,1,0,2338,0,0,0,0,0,0
4,2012,74,1,3,4,1,0,4362,0,0,0,0,0,0

In [10]:
Data2011 = OneYearData(2011,addvar='ADD2',autismvar='CCONDL6R',povertyvar='RAT_CAT2',foodsecurity='Y')
Data2011.head()

ADHD/ADD variable to check: ADD2
Autism variable to check: CCONDL6R
Poverty variable to check: RAT_CAT2
Reading in file familyxx for year 2011
Results:  Dataframe created with 40496 rows and 778 columms.
Reading in file samadult for year 2011
Results:  Dataframe created with 33014 rows and 2390 columms.
Reading in file samchild for year 2011
Results:  Dataframe created with 12850 rows and 1449 columms.
Results:  adult/child Year 2011 Dataframe created with 10580 rows and 7 columms.
Results:  final Year 2011 Dataframe created with 10580 rows and 14 columms.
Dataframe output to ..\output_data\year_2011.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2011,3,1,4,4,1,0,1803,0,0,0,0,0,0
1,2011,12,1,4,4,1,0,4266,0,0,0,0,0,0
2,2011,19,1,6,4,1,1,1318,0,0,0,0,0,0
3,2011,22,1,3,4,1,1,2846,0,1,0,0,0,0
4,2011,23,1,3,3,1,0,3699,0,0,0,0,0,0

In [3]:
Data2010 = OneYearData(2010,addvar='ADD2',autismvar='CCONDL06',povertyvar='RAT_CAT2',foodsecurity='N')
Data2010.head()

ADHD/ADD variable to check: ADD2
Autism variable to check: CCONDL06
Poverty variable to check: RAT_CAT2
Reading in file familyxx for year 2010
Results:  Dataframe created with 35177 rows and 628 columms.
Reading in file samadult for year 2010
Results:  Dataframe created with 27157 rows and 2650 columms.
Reading in file samchild for year 2010
Results:  Dataframe created with 11277 rows and 1366 columms.
Results:  adult/child Year 2010 Dataframe created with 8998 rows and 7 columms.
Results:  final Year 2010 Dataframe created with 8998 rows and 14 columms.
Dataframe output to ..\output_data\year_2010.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2010,1,1,3,4,1,2,3181,0,0,0,0,0,1
1,2010,6,1,4,4,1,2,4228,0,1,0,0,0,1
2,2010,22,1,4,4,1,2,3813,0,1,0,0,0,0
3,2010,33,1,4,4,1,2,1673,0,0,1,0,0,1
4,2010,37,1,4,4,1,2,2030,0,0,0,0,0,0

In [4]:
Data2009 = OneYearData(2009,addvar='ADD2',autismvar='CCONDL06',povertyvar='RAT_CAT2',foodsecurity='N')
Data2009.head()

ADHD/ADD variable to check: ADD2
Autism variable to check: CCONDL06
Poverty variable to check: RAT_CAT2
Reading in file familyxx for year 2009
Results:  Dataframe created with 34640 rows and 635 columms.
Reading in file samadult for year 2009
Results:  Dataframe created with 27731 rows and 2286 columms.
Reading in file samchild for year 2009
Results:  Dataframe created with 11156 rows and 768 columms.
Results:  adult/child Year 2009 Dataframe created with 9140 rows and 7 columms.
Results:  final Year 2009 Dataframe created with 9140 rows and 14 columms.
Dataframe output to ..\output_data\year_2009.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2009,5,1,4,4,1,2,7602,0,0,1,0,0,0
1,2009,7,1,4,4,1,2,8594,0,0,0,0,0,0
2,2009,29,1,5,4,1,2,6221,0,0,0,0,0,0
3,2009,34,1,2,3,1,2,10933,1,1,0,0,0,0
4,2009,64,1,3,4,1,2,4937,0,0,0,0,0,0

In [5]:
Data2008 = OneYearData(2008,addvar='ADD2',autismvar='CCONDL06',povertyvar='RAT_CAT2',foodsecurity='N')
Data2008.head()

ADHD/ADD variable to check: ADD2
Autism variable to check: CCONDL06
Poverty variable to check: RAT_CAT2
Reading in file familyxx for year 2008
Results:  Dataframe created with 29421 rows and 618 columms.
Reading in file samadult for year 2008
Results:  Dataframe created with 21781 rows and 3969 columms.
Reading in file samchild for year 2008
Results:  Dataframe created with 8815 rows and 1110 columms.
Results:  adult/child Year 2008 Dataframe created with 6942 rows and 7 columms.
Results:  final Year 2008 Dataframe created with 6942 rows and 14 columms.
Dataframe output to ..\output_data\year_2008.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2008,9,1,3,3,1,2,4283,0,0,0,0,0,0
1,2008,19,1,4,4,1,2,4161,0,0,0,0,0,0
2,2008,28,1,4,4,1,2,1467,0,0,0,0,0,1
3,2008,38,1,6,4,1,2,4103,0,0,0,0,0,0
4,2008,51,1,3,3,1,2,1462,1,0,0,0,0,0

In [7]:
Data2007 = OneYearData(2007,addvar='ADD2',autismvar='CONDL6',povertyvar='RAT_CAT2',foodsecurity='N')
Data2007.head()

ADHD/ADD variable to check: ADD2
Autism variable to check: CONDL6
Poverty variable to check: RAT_CAT2
Reading in file familyxx for year 2007
Results:  Dataframe created with 29915 rows and 641 columms.
Reading in file samadult for year 2007
Results:  Dataframe created with 23393 rows and 2610 columms.
Reading in file samchild for year 2007
Results:  Dataframe created with 9417 rows and 905 columms.
Results:  adult/child Year 2007 Dataframe created with 7680 rows and 7 columms.
Results:  final Year 2007 Dataframe created with 7680 rows and 14 columms.
Dataframe output to ..\output_data\year_2007.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2007,11,1,4,4,1,2,4342,1,1,0,1,0,1
1,2007,20,1,4,4,1,2,4613,0,0,0,1,0,1
2,2007,48,1,3,4,1,2,6604,0,1,0,0,0,0
3,2007,55,1,3,4,1,2,2141,0,0,1,0,0,0
4,2007,57,1,4,4,1,2,5234,0,1,0,0,0,0

In [9]:
Data2006 = OneYearData(2006,addvar='ADD2',autismvar='CONDL6',povertyvar='RAT_CAT',foodsecurity='N')
Data2006.head()

ADHD/ADD variable to check: ADD2
Autism variable to check: CONDL6
Poverty variable to check: RAT_CAT
Reading in file familyxx for year 2006
Results:  Dataframe created with 29868 rows and 620 columms.
Reading in file samadult for year 2006
Results:  Dataframe created with 24275 rows and 2189 columms.
Reading in file samchild for year 2006
Results:  Dataframe created with 9837 rows and 806 columms.
Results:  adult/child Year 2006 Dataframe created with 8345 rows and 7 columms.
Results:  final Year 2006 Dataframe created with 8345 rows and 14 columms.
Dataframe output to ..\output_data\year_2006.csv

,SRVY_YR,HHX,FMX,FM_SIZE,FM_TYPE,HH with Children,HH with Food Concern due to Money,WTFA_FAM,HH in Poverty,HH with Smoker,HH with Asthmatic Child,HH with ADHD/ADD Child,HH with Autistic Child,HH with Child With Concentration/Emotional/Behavior Issues
0,2006,2,1,3,4,1,2,2499,0,0,1,0,0,0
1,2006,7,1,4,4,1,2,1535,0,0,0,0,0,0
2,2006,17,1,4,4,1,2,1666,0,0,0,0,0,0
3,2006,24,1,4,4,1,2,1205,0,0,0,0,0,0
4,2006,29,1,4,4,1,2,2477,0,0,0,0,0,0